.s-faq {
  padding: clamp-calc(40px, 90px) 0;

  &__text {
    margin-top: rem(8);

    p:last-child {
      margin-bottom: 0;
    }
  }

  &-list {
    margin-top: rem(46);
  }

  &-footer {
    margin-inline: auto;
    margin-top: rem(48);
    text-align: center;
  }
}
